@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Oswald:400|Raleway:400,700,400italic,700italic);

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --bg-black: #1d1f20;
  --bg-black: #000;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-black);
  color: #e5e5e5;
  font: 16px/1.25 "Raleway", sans-serif;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
  /*   text-align: center; */
}

h1 > span {
  font-size: 18px;
}

h2 > sup {
  font-size: 14px;
  font-weight: lighter;
  padding: 0 5px 0 5px;
  border-radius: 4px;
}

h2 > sup[class="free"] {
  background: #029e02;
}
h2 > sup[class="paid"] {
  background: #cb0000;
}

a {
  color: #a2ed56;
}

a:hover {
  color: #83e4e2;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 40em;
}

main .container {
  padding: 1em;
}

p {
  /*     margin-left: auto;
    margin-right: auto; */
  max-width: 40em;
}

.screen-reader-text {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

/************************************************/
/****************** NAVIGATION ******************/
/************************************************/
nav {
  /*       background: #e5e5e5; */
  /*     color: #1d1f20; */
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 9999;
}

/*** INPUT ***/
nav input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

/*** LABEL ***/
nav label {
  cursor: pointer;
  display: block;
  font: 2em/1 "Oswald", sans-serif;
  padding: 0.5em;
}

/* Hamburger Icon */
#menu-icon,
#menu-icon:before,
#menu-icon:after {
  background: #fff;
  border-radius: 0.05em;
  height: 0.1em;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

#menu-icon {
  display: inline-block;
  margin: 0.4em 0;
  max-width: 1em;
  position: relative;
}

nav label #menu-icon {
  float: left;
}
nav label #menu-profile {
  float: right;
}

#menu-icon:before,
#menu-icon:after {
  content: "";
  left: 0;
  position: absolute;
}

#menu-icon:before {
  top: -0.3em;
}

#menu-icon:after {
  bottom: -0.3em;
}

/* Close Icon */
nav input[type="checkbox"]:checked + label #menu-icon {
  background: transparent;
}

nav input[type="checkbox"]:checked + label #menu-icon:before {
  top: 0;
  transform: rotate(-45deg);
}

nav input[type="checkbox"]:checked + label #menu-icon:after {
  bottom: 0;
  transform: rotate(45deg);
}

/*** MENU ***/
/* Overlay */
nav input:checked ~ #overlay {
  background: var(--bg-black);
  bottom: 0;
  left: 0;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: -1;
}

/* List */
nav ul {
  font-size: 1.5em;
  list-style: none;
  margin: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
}

nav input:checked ~ ul {
  margin: 1em;
  max-height: inherit;
  opacity: 1;
}

nav ul > li {
  margin: 0.5em 0;
}

nav ul a {
  color: #1d1f20 !important;
  text-decoration: none;
}

nav ul a:hover {
  text-decoration: underline;
}

/* Social Media */
nav ul#social-media > li {
  display: inline-block;
  font-size: 1.5em;
  margin: 0.5em;
}

#search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

#search > i,
input[type="text"],
button {
  font-size: 1.5em;
}

#search input[type="text"] {
  flex: 1;
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-family: "Oswald", sans-serif;
  color: #e5e5e5;
  outline: none;
}

#search button {
  background: #ffd300;
  outline: none;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 4px;
  border-radius: 10px;
}

#card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 1em;
  cursor: pointer;

  /*   outline: 1px solid lightcoral; */
}

#card > div {
  background: var(--bg-black);
}

#card > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#card > img {
  border-radius: 10px;
}
#card > div > div > h2,
h3 {
  margin: 0;
  margin-top: 8px;
}
#card > div > p {
  color: gray;
}

#book-btn {
  cursor: pointer;
}

.event-purchase-btn {
  background: #ffd300;
  outline: none;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 4px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 1em;

  font-family: "Oswald", sans-serif;
  color: #fff;
  cursor: pointer;
}

/******************************TNC******************/

.tnc-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}

.tnc-wrapper > label {
  flex: 1;
  /* background: #e5e5e5; */
  padding: 1em;
  border-radius: 10px;
}
